.components_container {
  padding: 40px;

  main {
    div.groups {
      display: flex;
      border: 1px solid #a7a3a3;
      border-radius: 4px;
      margin: auto;
      padding: 24px;
      justify-content: center;

      div.area {
        display: flex;
        align-items: center;
        flex-direction: column;

        div.row {
          display: inline-flex;
          margin: 8px;
        }
      }
    }
  }
}